<section class="container my-3">
    <h1>{{jobId ? 'Edit Product':'Add Product'}}</h1>
    <form class="row g-3 m-3" [formGroup]="jobForm" (ngSubmit)="GetData($event)">
        <div class="col-12">
            <label for="title" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="title" name="title" formControlName="title"
            [class.is-invalid]="jobForm.controls['title'].touched && !jobForm.controls['title'].valid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                * title is required!
            </div>
        </div>
        <div class="col-12">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary" name="salary" formControlName="salary"
            [class.is-invalid]="jobForm.controls['salary'].touched && !jobForm.controls['salary'].valid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                * salary is required!
            </div>
        </div>
        <div class="col-12">
            <label for="totalJobs" class="form-label">Total Jobs</label>
            <input type="number" class="form-control" id="totalJobs" name="totalJobs" formControlName="totalJobs"
            [class.is-invalid]="jobForm.controls['totalJobs'].touched && !jobForm.controls['totalJobs'].valid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                * total jobs number is required!
            </div>
        </div>
        <div class="col-12">
            <label for="Date" class="form-label">Date</label>
            <input type="text" class="form-control" id="Date" name="Date" formControlName="Date"
            [class.is-invalid]="jobForm.controls['Date'].touched && !jobForm.controls['Date'].valid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                * date is required!
            </div>
        </div>
        <div class="col-12">
            <label for="Type" class="form-label">Type</label>
            <input type="text" class="form-control" id="Type" name="Type" formControlName="Type"
            [class.is-invalid]="jobForm.controls['Type'].touched && !jobForm.controls['Type'].valid" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                * type is required!
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</section>
