.inner{
    min-height: 36vh;
}

/* ----------------- [start chart side titles] -------------- */
.color-square{
    width: 10px;
    height: 10px;
    display: inline-block;
}

.total-gray{
    background-color: #a5abb3;
}

.inProgress-blue{
    background-color: #1f5b83;
}

.success-green{
    background-color: #23a057;
}

.fail-yellow{
    background-color: #e2b605;
}
/* ----------------- [end chart side titles] -------------- */